.post {
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid var(--lightGreen);
  margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 60%;
  gap: 20px;
  word-break: break-all;
}

.post_text {
  color: var(--lightGreen);
  font-size: 1.2rem;
  font-weight: 500;
}

.post_avatar {
  width: 50px;
  text-align: center;
  font-size: 2rem;
  border-radius: 50px;
  box-shadow: 0 0 10px 3px var(--lightGreen);
}

.current_user {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  margin-left: 0;
  margin-right: auto;
  /* background: linear-gradient(to right, var(--lightGreen) 10%, transparent 40%); */
}
